<form action="/add_line_form" method="post">
  <label for="add_line">Add a Line:</label>
  <input type="text" name="add_line" value="green">
  <label for="add_city">Add a City:</label>
  <input type="text" name="add_city" value="lisbon">
  <label for="arr">Add a new Arrival:</label>
  <input type="text" name="arr" value="12:10:01">
  <label for="dep">Add a new Depature:</label>
  <input type="text" name="dep" value="01:11:03">
  <button type="submit" class="btn-lg btn-warning">Submit</button>
</form>
