<form action="/add_city_form" method="post">
  <label for="add_city">Add a new City:</label>
  <input type="text" name="add_city" value="prague">
  <label for="add_line">Add a new Line:</label>
  <input type="text" name="add_line" value="blue">
  <label for="add_arr">Add a new Arrival:</label>
  <input type="text" name="add_arr" value="12">
  <label for="add_dep">Add a new Depature:</label>
  <input type="text" name="add_dep" value="1">
  <button type="submit" class="btn-lg btn-danger">Submit</button>
</form>
