<form action="/add_line_form" method="post">
  <label for="add_line_form">Add a new Line:</label>
  <input type="text" name="add_line_form" value="green">
  <button type="submit" class="btn-lg btn-warning">Submit</button>
</form>
