<form action="/add_line_form" method="post">
  <label for="add_line">Add a Line:</label>
  <input type="text" name="add_line" required>
  <label for="add_city">Add a City:</label>
  <input type="text" name="add_city" required>
  <label for="arr">Add a new Arrival:</label>
  <input type="text" name="arr" required>
  <label for="dep">Add a new Depature:</label>
  <input type="text" name="dep" required>
  <button type="submit" class="btn-lg btn-warning">Submit</button>
</form>
