<h2>Do you want to Add?</h2>
<ul id="trainAdd">
  <li><a href="/admin/add_city_form">Add a City</a></li>
  <!--  will add line info per city, then add arriv & depar-->
  <li><a href="/admin/add_line_form">Add a Line</a></li>
  <!--  will add line info per city, then add arriv & depar-->
</ul>

<h2>Or do you want to Remove?</h2>
<ul id="trainRemove">
  <li><a href="/delete">Remove a City</a></li>
</ul>
