<h2>Do you want to Add?</h2>
<ul>
  <li><a href="/admin/add_city_form">Add City</a></li>
  <!--  will add line info per city, then add arriv & depar-->
  <li><a href="/admin/add_line_form">Add Line</a></li>
  <!--  will add line info per city, then add arriv & depar-->
</ul>

<h2>Or do you want to Remove?</h2>
<ul>
  <li><a href="/admin/remove_city">Remove City</a></li>
  <li><a href="/admin/remove_line">Remove Line</a></li>
</ul>
