<h1>Trains of Europe</h1>

<ul id="indexTrains">
  <a href="/trains"><h3><li>Train riders</li></h3></a>
  <a href="/admin"><h3><li>Train conductors</li></h3></a>
</ul>

<form action="/where" method="post">
<label for="loc">Where are you in Europe right now?</label>
<input type="text" name="loc" value="munich">
<button type="submit" class="btn-lg btn-success">Submit</button>
</form>
