<h1>Trains</h1>
<% if @trains.any?() %>
  <ul id="trainInfo">
    <% @trains.each() do |train| %>
      <li><%= train.line %> , <%= train.city %> , <%= train.arriv %> , <%= train.depar %></li>
    <% end %>
  </ul>
<% else %>
  <h2>There are no Trains</h2>
<% end %>
